<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Tempo Estimado</title>
</head>
<body>
    <div class="container">
        <h1>Resultado</h1>
        <p>Tempo necessário para alcançar o objetivo: {{ tempo }} mês(es)</p>
    </div>
    <input type="button" value="Novo calculo" onclick="history.go(-1)"/>
    <!--No codigo acima, "history.go(-1)" usa a mesma funcionalidade
        do botao voltar da barra de tarefas do navegador-->
    <button onclick='location.href = document.referrer'>Novo calculo  </button>
    <a class="voltar" href="/index">asdfasdfasdfasdf</a>
    <a class="voltar" href="Recalcular">ffffffffff</a>
    <style>
        .voltar{
            text-decoration: none;
            border:ipx solid #000
        }
    </style>
</body>
</html>